
$orange: #f18020
$cyan: #4A90E2
$purple: #9013FE
$green: #79B927

$success: $green
$primary: $orange
$link: $cyan
$dark: hsl(0, 0%, 19%)

$body-font-size: 1.2rem;
$size-1: 4rem
$size-4: 1.35rem
//$size-2: 2.5rem

$tablet: 768px;

$navbar-item-color: $dark
$navbar-item-active-color: $primary

$hero-body-padding-medium: 5rem 1.5rem 5rem 1.5rem

$family-primary: "DM Sans", sans-serif
// $button-padding-vertical: 1.6rem
// $button-padding-horizontal: 1.6rem

.is-size-4    
    font-weight: 500
    character-spacing: 1px   
